BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: false
IndentCaseLabels: true
IndentWidth: 4
SortIncludes: false